<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <link rel="stylesheet" href="bootstrap.css">
</head>
<body>

<div th:insert="navbar"></div>

<div class="table-responsive-sm container-sm">
<!--    <div class="p-2"></div>-->
    <table class="table table-striped text-center">
        <!--/*@thymesVar id="entity" type="com.example.pr2.model.BaseEntity"*/-->
        <!--/*@thymesVar id="data" type="kotlin.collections.AbstractCollection<com.example.pr2.model.BaseEntity>"*/-->
        <tr th:each="entity, iter : ${data}">
            <!--/*@thymesVar id="iter" type="org.thymeleaf.engine.IterationStatusVar"*/-->
            <td class="p-3" th:text="${iter.count}"> </td>
            <td class="p-3" style="column-span: 3" th:text="${entity}"> </td>
            <td class="" style="padding-right: 5%">
                <div class="container-sm">
                    <div class="d-flex flex-row justify-content-end align-items-center">
                        <!--/*@thymesVar id="path" type="java.lang.String"*/-->
                        <form th:action="@{{path}/{id}/edit(path = ${path}, id = ${entity.getId()})}">
<!--                            <input type="hidden" name="_method" value="patch">-->
                            <input class="btn btn-primary" type="submit" value="Изменить">
                        </form>
                        <form class="px-1" th:method="DELETE" th:action="@{{path}/{id}/delete(path = ${path}, id = ${entity.getId()})}">
                            <input type="hidden" name="_method" value="delete">
                            <input class="btn btn-danger" type="submit" value="Удалить">
                        </form>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

<div class="d-flex justify-content-center">
    <form class="p-5" th:method="POST" th:action="@{{path}/create(path = ${path})}">
        <input class="btn btn-outline-success" type="submit" value="Добавить">
    </form>
</div>

</body>
</html>